<div class="row justify-content-center mt-3" *ngIf="character$ | async as character">
    <div class="col-xs-12 col-sm-6 col-md-6 justify-content-center">
        <div class="container">
  
            <div class="card">
                <div class="image">
                  <a [routerLink]="['/character-details', character.id]">
                    <img
                      [src]="character.image"
                      [alt]="character.name"
                      class="card-img-top"
                    />
                  </a>
                </div>
                <div class="card-inner">
                  <div class="header">
                    <a [routerLink]="['/character-details', character.id]">
                      <h2>{{ character.name | slice: 0:15}}</h2>
                    </a>
                    <h4 class="text-muted">{{ character.gender }}</h4>
                    <small class="text-muted">{{ character.created | date }}</small>
                  </div>
                </div>
              </div>
         
        </div>
    </div>
  </div>
  <button (click)="onGoBack()" class="btn btn-primary btn-lg mt-3">
    Back
  </button>